<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/public/styling/style.css" />
<h1 class="h3 mb-3 fw-normal">Welcome</h1>

<p>Create an account or login if you already have one!</p>

<p><a href="/register">Register</a></p>
<p><a href="/login" id="loginBtn">Login</a></p>
